@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400;700&display=swap');
@import url('./bootstrap.css');

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 5vh 90vh 5vh;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #d3caf8;
    min-width: 100vw;
}


/* Seccion del Hero */

main {
    overflow: hidden;
    position: relative;
}

/* .hero {

} */

.hero__photo {
 
  z-index: -1;
  position: absolute;
  bottom: 0;
}

.hero__img {

    /* object-fit: contain;
    object-position: bottom; */
    height: 70vh;  
}

.hero__container {
    padding: 3rem 2rem;
}

.hero__heading1 {
    display: inline-block;
    margin-block: 0;
    font-size: 3rem;
    font-weight: 700;
}

.hero__heading2 {
    font-weight: normal;
}

.hero__paragraph {
    margin-bottom: 0;
}

/* Seccion del Nav */

.mynavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-inline: 3rem;
    /* background-color: #90E0EF; */
}

.mynavbar__logo{
    color: inherit;
}

.mynavbar__list {
    display: flex;
    align-items: center;
    gap: 1em;
    list-style-type: none;
    font-weight: bold;
}

.mynavbar__list a {
    text-decoration: none;
}

.mynavbar__list a:hover {
    border-bottom: 1px solid black;
}




/* Seccion del Footer */

.footer {
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 100%;
    padding-inline: 3rem;
    background-color: transparent;
}

.footer li {
    list-style-type: none; 
}

#services, #about, #contact {
    width: 100%;
    height: 970px;
}

#services div {
    text-align: center;
}

#services article {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-inline: 1rem;
    margin-block: 1rem;
    padding-inline: 1rem;
    background-color: white;
    border-radius: 10px;
    text-align: left;
}

h1 {
    font-size: 60px;
    margin-bottom: 1rem;
}

#services-container, #portfolio-container {
    margin-block: 5rem;
    margin-inline: 1rem;
}

#services-container div {
    margin-block: 2rem;
}

#img-container {
    display: inline-block;
    height: 600px;
    padding-inline: 2rem;
}

#img-container img{
    height: 600px;
    width: 400px;
    border-radius: 1rem;
}

#about-container {
    margin: 4rem;
    white-space: nowrap;
    overflow: hidden;
}

#about-info {
    display: inline-block;
    vertical-align: top;
    height: 600px;
    padding-inline: 2rem;
}

#about-info p {
    padding-block: 2rem;
    line-height: 2rem;
}

#about-info a{
    display: inline;
    margin-right: 2rem;
}

#portfolio article {
    display: inline-block;
    background-color: white;
    margin: 1rem;
    max-width: 400px;
    height: 300px;
    border: solid #03045E 1px;
}

.project-img {
    height: 70%;
}

.project-img img{
    height: 100%;
    width: 100%;
}

.project-body h2 {
    margin-block: 0.25rem;
}

#top-section, #bottom-section {
    text-align: center;
}

.project-body {
    text-align: left;
    padding-inline: 0.5rem;
}

#top-section article {
    width: 40%;
}

#bottom-section article {
    width: 25%;
}

#contact-container{
    margin-inline: 3rem;
    margin-block: 5rem;
}

#form-container {
    display: inline-block;
    width: 40%;
    padding: 2rem;
    border: solid 1px;
}

#form-container h2 {
    margin-bottom: 2rem;
}

#form-container input{
    display: block;
    width: 100%;
    margin-block: 1rem;
    padding-block: 1rem;
}

#form-container textarea{
    width: 100%;
    padding-block: 1rem;
}

#form-container a{
    display: block;
    width: 10rem;
    margin-top: 2rem;
}

#contact-info {
    display: inline-block;
    vertical-align: top;
    margin-inline: 5rem;
}

#contact-info div{
    margin-block: 3rem;
}

#contact-info i{
    display: inline-block;
    width: 50px;
    margin-right: 2rem;
}

#contact-info h3 {
    display: inline-block;
    margin-left: 3rem;
}


::placeholder {
    font-family: 'Montserrat';
}


.center-text {
    text-align: center;
}

.inline {
    display: inline;
}

.bold {
    font-weight: bold;
}

.dark-blue {
    color: #03045E;
}

.button {
    display: inline-block;
    margin: 4px 2px;
    padding: 15px 32px;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: red;
}


.button-turquoise {
    background-color: #0077B6;
}






