@use '../abstracts' as *;

.portfolio {
    overflow: scroll;
}

#portfolio-container {
    margin-block: 5rem;
    margin-inline: 1rem;
}

#portfolio article {
    display: inline-block;
    background-color: $color-quaternary;
    margin: 1rem;
    max-width: 400px;
    height: 300px;
    border: solid #03045E 1px;
}

.project-img {
    height: 70%;
}

.project-img img{
    height: 100%;
    width: 100%;
}

.project-body h2 {
    margin-block: 0.25rem;
}

#top-section, #bottom-section {
    text-align: center;
}

.project-body {
    text-align: left;
    padding-inline: 0.5rem;
}

#top-section article {
    width: 40%;
}

#bottom-section article {
    width: 25%;
}