@use '../abstracts/' as *;

.footer {
    @include d-flex(center, center);
    gap: 1rem;
    min-height: 5vh;
    border-top: 1px solid $color-white;

    &__social {
        @include d-flex(center, center);
        gap: .5rem;
        margin: 0;
        padding: 0;
    }
    
    &__social  * {
        color: $color-white;
    }
    
    &__p {
        margin: 0;
    }
}