@use '../abstracts/' as *;

.navbar {
    margin-bottom: .5rem;
    border-bottom: 1px solid $color-white;
    
    &-nav {
        align-items: center;
    }
    
    &-toggler {
        border: 1px solid $color-white;
    }

    &-brand {
        font-weight: $fw-navbar;
    }
    
    &-toggler-icon { 
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); 
    }

    @media (min-width : $breakpoint-large) {
        &-collapse {
            justify-content: center;
        }
    }
}

.nav-link,
.navbar-brand,
.navbar-toggler,
.navbar-nav nav-link.active {
    color: $color-white !important;
}

.nav-link:hover {
    font-weight: $fw-navbar-hover;
}

